<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date Display Page</title>
</head>
<body>
    <div id="container">
        <ul>

        </ul>
        <button onclick="showData()" id="button">Show Data</button>
    </div>
    
    <script>        
        function showData(){
        let url = '/api/todo';
        fetch(url)
        .then(res =>res.json())
        .then(data => {
            console.log(data)
            data.forEach(data =>{
                
                document.querySelector('ul').insertAdjacentHTML('beforeend',`<li>${data.title}</li>`);
            });
        })
        .catch(error => {
            console.log(error)
        })
        document.getElementById('button').style.display = "none";
    }
        
    </script>
</body>
</html>